.mainContent {
  flex: 1;
  margin-top: 64px;
  margin-left: 280px;
  overflow: auto;
  background: var(--color-dark);
  transition: margin-left 0.3s;
}

.mainContent.withSidebar {
  margin-left: 280px;
}

.mainContent.collapsedSidebar {
  margin-left: 80px;
}

@media (max-width: 1024px) {
  .mainContent {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}
